* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 50vh;
    background-image: url(../../assets/fondo.jpg);
    background-position: 100% 62%;
    background-size: cover;
}

header img{
    width: 9rem;
}

.navbar-nav a {
    border-bottom: 2px solid transparent;
    position: relative;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease-out;
    transform-origin: left;
}

.navbar a:hover:before {
    width: 100%;
    transition: width 0.3s ease-out;
    transform-origin: right;
}

/*Main*/
main {
    background-color: rgb(220, 215, 215);
    min-height: 50vh;
}

/*clientWelcome*/
.clientWelcome {
    background-color: rgba(0, 0, 0, 0.789);
    width: 14rem;
}

/*User*/
.container {
    /* position: relative; */
    font-family: sans-serif;
}

.container .box {
    width: 35em;
    height: 25em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
}

.container .box .accountsbox{
    height: 25rem;
}

.container .box .accountsbox2{
    height: 18rem;
    background-color: rgba(172, 140, 97, 0.13);
}

.container .box .title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .1em
}

.container .box div strong {
    display: block;
    margin-bottom: .5rem;
}

.container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
}

.container .box div span {
    font-size: .7rem;
    font-weight: 300;
}

.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

.container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.interactionCLient {
    width: 2rem;
    cursor: pointer;
}

.interactionCLient:hover {
    transform: scale(1.4);
}  

/*Transaction*/
.CREDIT{
    color: green;
}

.DEBIT{
    color: red;
}

/*Footer*/
.socialIcon {
    width: 2rem;
}

@media only screen and (max-width: 520px) {
    .inputsTransactions{
        flex-direction: column !important;
        margin: 1rem;
    }
}