<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeBanking | Accounts</title>
    <link rel="shortcut icon" href="../../assets/banco.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/managerStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <header class="d-flex flex-column justify-content-between">
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="../../index.html" class="me-1"><img src="../../assets/insignia-del-sheriff.png" alt=""></a>
                        <a class="navbar-brand fs-4" href="../../index.html">MindHub Bank</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active text-end" aria-current="page" href="../../index.html">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="d-flex justify-content-center align-items-end clientWelcome rounded p-3 mb-2 ms-2">
                <p class="text-white text-center mb-0 fs-4">Hello</p>
                <h2 class="text-white text-center mb-0 ps-2">{{data.firstName}}!</h2>
            </div>
        </header>
        <main>
            <h1 class="text-center bg-header p-3 m-0">Client</h1>
            <div class="offset-1 col-10 table-responsive pb-5">
                <table class="table caption-top align-middle table-hover rounded mb-0">
                    <caption class="text-dark fs-4 fw-bold">Accounts</caption>
                    <thead>
                        <tr>
                            <th class="text-center">Account Number</th>
                            <th class="text-center">Time created</th>
                            <th class="text-center">Balance</th>
                            <th class="text-center getInTable">Get in</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <template v-for="account of data.accounts">
                            <tr>
                                <td class="text-center">{{account.number}}</td>
                                <template v-if="account.creationDate.slice(11,16) > '12:00'">
                                    <td class="text-center">{{account.creationDate.slice(0,10)}} at {{account.creationDate.slice(11 , 16)}} p.m.</td>
                                </template> 
                                <template v-else>
                                    <td class="text-center">{{account.creationDate.slice(0,10)}} at {{account.creationDate.slice(11 , 16)}} a.m.</td>
                                </template>        
                                <td class="text-center fs-5">${{account.balance.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>
                                <td class="text-center getInTable"><a :href="'./managerAccount.html?id=' + account.id"><img
                                        src="../../assets/lupa.png" alt="" class="interactionCLient"></a></td>
                                <td class="text-center"><img src="../../assets/cesto.png" class="deleteClient interactionCLient" :alt="account.id" @click="deleteClient"></td>
                            </tr>
                        </template>
                        
                </table>
            </div>
            <!-- Loans -->
            <div class="offset-1 col-10 table-responsive pb-5">
                <table class="table caption-top align-middle table-hover rounded mb-0">
                    <caption class="text-dark fs-4 fw-bold">Loans</caption>
                    <thead>
                        <tr>
                            <th class="text-center">Loan name</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Quotas</th>
                            <th class="text-center getInTable">Get in</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <template v-for="loan of data.loans">
                            <tr>
                                <td class="text-center">{{loan.name}}</td>
                                <td class="text-center">{{loan.amount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>    
                                <td class="text-center">{{loan.payments}}</td>
                                <td class="text-center getInTable"><a href="#"><img src="../../assets/lupa.png" alt="" class="interactionCLient"></a></td>
                                <td class="text-center"><img src="../../assets/cesto.png" class="deleteClient interactionCLient" :alt="loan.id" @click="deleteClient"></td>
                            </tr>
                        </template>            
                </table>
            </div>
        </main>
    </div>     
    <footer class="bg-dark d-flex justify-content-evenly align-items-center pt-3 pb-3">
        <div class="d-flex">
            <p class="text-white mb-0 pe-2">Santiago Aristizabal</p>
            <p class="text-danger mb-0">Cohort 44</p>
            
        </div>
        <div class="bg-white p-1 rounded">
            <a href="https://www.instagram.com/santi_aristi__/" target="_blank"><img src="../../assets/instagram.png" alt="" class="socialIcon"></a>
            <a href="https://github.com/JsantiAristi" target="_blank"><img src="../../assets/github (1).png" alt="" class="socialIcon"></a>
        </div>       
    </footer>

    
    <!-- CDN bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/accounts.js"></script>
</body>
</html>